[submodule "Medi_Token/lib/forge-std"]
	path = Medi_Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Medi_Token/lib/openzeppelin-contracts"]
	path = Medi_Token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "MedETH/foundry/lib/forge-std"]
	path = MedETH/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MedETH/foundry/lib/openzeppelin-contracts"]
	path = MedETH/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "web3-tools-contracts/lib/forge-std"]
	path = web3-tools-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
